doctype html
html(ng-app="ngGo")
  head
    meta(charset='utf8')
    base(href='/')
    title ngGO
    link(href='https://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css')
    link(href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet")
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/common.css')
  body
    block body
